{
  box-sizing: border-box;
}

.body {
  margin: 0;
  font-family: "Amatic sc";
}

li {
list-style: none;
float: left;
padding: 33px 20px;
font-family: "Amatic sc";
}

.header {
  background-color: #FEE9D6;
  height: 100px;
  padding: 20px 40px;
}

.header-logo {
  float: left;
  font-size: 60px;
  padding: 20px 40px;
  font-family: "Amatic sc";
}

.header-right {
  float: right;
  font-size: 40px;
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(60, 60,60, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

.main {
  background-color: #bdf7f1;
  height: 600px;
}

.top-wrapper {
  padding: 180px 0 500px 0;
  background-image: url(https://i.postimg.cc/Ss8gPrPC/Cream-and-Brown-Curvy-Serif-Typefaces-Simple-Presentation.png);
  background-size: cover;
  color: white;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  font-size: 40px;
}
.instagram {
  background-color: #5A352C;
}

.merchandise {
  background-color: #ECA766;
  margin-right: 30px;
}

.consultation {
  background-color: #E59E82;
}

.btn-wrapper {
  margin: 40px 0;
  text-align: center;
  font-size: 50px;
}

.btn-wrapper p {
  margin: 20px 0;
  text-align: center;
  font-size: 40px;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.contents {
height: 500px;
margin-top: 100px;
}

.contents h3{
  font-size: 50px;
  padding-bottom: 5px;
}

.section-title {
border-bottom: 1px solid #FEE9D6;
font-size: 28px;
padding-bottom: 15px;
margin-bottom: 50px;
}

.contents-item {
float: center;
}

.contents-item p {
  font-size: 24px;
  margin-top: 10px;
}

.contents-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.message-wrapper {
  border-bottom: 10px solid #865b45
  padding-bottom: 10px;
  text-allign: center;
}

.message {
  padding: 20px 40px;
  background-color: #6a422f;
  cursor: pointer;
  box-shadow: 0 7px #889eab
}

.message: active {
  position: relative;
  top: 350px
  box-shadow: none;
}

.contact-form {
padding-top: 5px;
font-size: 30px;
text-align: center;
border-bottom: 1px solid #FEE9D6;
}

input, textarea {
  width: 1000px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 30px;
  font-size: 28px;
  border: 3px solid #5A352C;
}

.contact-submit {
  background-color: #5A352C;
  color: #fff;
}
